
    <div class="header-content my-auto py-5 mb-5">
        <div class="container">
            <div class="row flex-lg-row-reverse align-items-center justify-content-between g-gs">
                <div class="col-lg-5 mb-n3 mb-lg-0">
                    <div class="header-image header-image-s2">
                        <img src="~/images/hot-tasty-pizza-png.png" />
                    </div><!-- .header-image -->
                </div><!-- .col- -->
                <div class="col-lg-5 col-md-10">
                    <div class="header-caption">
                        <h1 class="header-title"><b class="text-pink">Hungry?</b> Craving your <b class="text-prim">Favorite Pizza?</b> Look No Further!</h1>
                    <p>Enjoy prompt and reliable delivery right to your doorstep, ensuring your meal arrives fresh and piping hot.</p>
                        <ul class="header-action btns-inline">
                            <li><a asp-action="Index" asp-controller="Products" class="btn btn-primary btn-lg"><span>Order Now</span></a></li>
                        </ul>
                    </div><!-- .header-caption -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .header-content -->


    <div class="container mb-7">
        <div class="row align-items-center justify-content-lg-between g-gs">
            <div class="col-lg-5">
                <div class="img-block img-block-s1 left">
                    <img src="~/images/hot-tasty-pizza-png2.png" alt="img">
                </div><!-- .img-block -->
            </div><!-- .col -->
            <div class="col-lg-6">
                <div class="text-block me-xl-5">
                    <h2 class="title">Our <span class="text-primary">User-Friendly Website</span> Makes It Effortless To Browse,<span class="text-pink"> Customize, And Place Your Order.</span></h2>

                    <div class="review review-s3">
                        <div class="review-content">
                            <div class="review-text">
                                <p> Enjoy prompt and reliable delivery right to your doorstep, ensuring your meal arrives fresh and piping hot. </p>
                            </div>
                        </div>
                    </div><!-- .review -->
                   
                </div><!-- .text-block -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->


<div class="container mt-7">
    <div class="row justify-content-center mt-5 mb-5">
            <div class="col-xl-4 col-md-5 col-sm-7">
                <div class="section-head text-center">
                    <h2 class="title">Choose the perfect <b class="text-pink">pizza</b> for you</h2>
                </div><!-- .section-head -->
            </div><!-- .col -->
        </div><!-- .row -->
    <div class="row justify-content-center  mt-5 mb-5 justify-content-lg-between align-items-center text-center g-gs">

            <div class="col-xl-4 col-sm-6">
                <div class="pricing pricing-s1 card card-shadow round-xl">
                    <div class="card-inner card-inner-lg">
                        <h3 class="pricing-title">Margherita</h3>
                        <img src="~/images/hot-tasty-pizza-png.png" alt="img">
                        <span>Topped with tomato sauce, mozzarella cheese, and fresh basil leaves.</span>
                        <h2 class="pricing-amount">35 dhs</h2>
                        <div class="pricing-action">
                            <a asp-action="Index" asp-controller="Products" class="btn btn-primary btn-lg btn-block"><span>Purchase Now</span></a>
                        </div>
                    </div>
                </div>
            </div><!-- .col -->

            <div class="col-xl-4 col-sm-6">
                <div class="pricing pricing-s1 card card-shadow round-xl">
                    <div class="card-inner card-inner-lg">
                        <h3 class="pricing-title">Pepperoni</h3>
                        <img src="~/images/hot-tasty-pizza-png1.png" alt="img">
                        <span>Tomato sauce, generous amounts of pepperoni, and melted cheese.</span>
                        <h2 class="pricing-amount">45 dhs</h2>
                        <div class="pricing-action">
                            <a asp-action="Index" asp-controller="Products" class="btn btn-primary btn-lg btn-block"><span>Purchase Now</span></a>
                        </div>
                    </div>
                </div>
            </div><!-- .col -->

            <div class="col-xl-4 col-sm-6">
                <div class="pricing pricing-s1 card card-shadow round-xl">
                    <div class="card-inner card-inner-lg">
                        <h3 class="pricing-title">Hawaiian</h3>
                        <img src="~/images/hot-tasty-pizza-png2.png" alt="img">
                        <span>Ham, pineapple chunks, and cheese for a sweet and savory flavor profile.</span>
                        <h2 class="pricing-amount">60 dhs</h2>
                        <div class="pricing-action">
                            <a asp-action="Index" asp-controller="Products" class="btn btn-primary btn-lg btn-block"><span>Purchase Now</span></a>
                        </div>
                    </div>
                </div>
            </div><!-- .col -->

        </div><!-- .row -->
    </div><!-- .container -->

