@model List<DetailsProductViewModel>

<section class="section section-feature pb-0">
    <div class="container w-md-70">
        <div class="card card-bordered card-preview">
            <div class="card-inner">
                <table class="datatable-init table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>picture</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var detail in Model)
                        {
                            <tr>
                                <td>@detail.Product.Name</td>
                                <td><div class="user-avatar sm bg-white"><img src="~/images/@detail.Details.Product.Photo"></div></td>
                                <td>@detail.Details.quantity</td>
                                <td>@detail.Product.Price</td>
                                <td>@detail.Details.price</td>
                               
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div><!-- .card-preview -->
    </div>
</section>