@{
    Layout = "/Views/Shared/_Layout.cshtml";
    IgnoreSection("Scripts");
}


<div class="card card-bordered bg-white p-5">
    <h3>Manage your account</h3>
    <p>Change your account settings</p>
    <partial name="_ManageNav" />
    <br />
    @RenderBody()
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
