<div class="content-page d-flex align-items-center justify-content-center">
    <div class="nk-block-head nk-block-head-lg wide-md">
        <div class="nk-block-head-content">
            <h2 class="nk-block-title fw-normal">About Our Store</h2>
            <div class="nk-block-des">
                <div class="row w-100">
                    <div class="col">
                        <p class="lead text-break">
                            Welcome to <span class="text-primary">Pizza Store</span>, your ultimate destination for mouthwatering pizzas and delightful dining experiences. We are passionate about serving the finest quality pizzas made with love and carefully selected ingredients to satisfy your cravings.
                        </p>
                    </div>
                    <div class="col">
                        <p class="lead text-break">
                            We take pride in using only
                            <span class="text-primary">the freshest, locally sourced ingredients</span> to ensure the highest level of taste and quality. Our dough is made from scratch daily, and our sauces are carefully crafted with a harmonious balance of herbs and spices.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .nk-block-head -->
</div><!-- .content-page -->